body {
    background-color: #89fcb3;
    color: #333333;
    transition: background-color 0.3s ease;
  }
  
  .dark-mode {
    background-color: black;
    color:black;
  }
  .dark{
    padding: 10px 20px;
    background-color: black;
    border: solid 0.5px black;
    color:white;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
  }

 
  