/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color:#89fcb3;
  }
  
  .container {
    background-color: #e9fccf;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
  }
  
  .h2 {
    text-align: center;
  }
  
  /* Estilos do formulário */
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    margin: 2%;
  }
  
  input[type="text"],
  input[type="Sobrenome"],
  input[type="email"],
  input[type="passaword"],
  input[type="Confirmar_passaword"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .button {
    padding: 10px 20px;
    background-color: #b1fcb3;
    border: solid 0.5px yellow;
    color:black;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
   
  }
  
  .button[type="reset"] {
    background-color:  #b1fcb3;
  }
  
  /* Estilos para ajustar o layout em dispositivos móveis */
  @media (max-width: 480px) {
    .container {
      max-width: 100%;
      padding: 10px;
    }
  }